body { 
    display: flex;
    flex-direction: column;
    background-color: slategrey;
}

svg {
    border: 5px solid black;
    border-radius: 5px;
    background-color: lightcyan;
}

div > svg {
    background-color: lightgrey;
}

#inputs {
    display: flex;
}

.selector {
    padding: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background-color: #FEFEFE;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1;
}
